.hello-world-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}
.hello-world {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95%;
  width: 95%;
  justify-content: center;
  background: linear-gradient(135deg, #3e4af1, #6ceef7);
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.2);
}
.hello-world-heading {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.hello-world-text {
  font-size: 1.2rem;
  font-family: 'Arial', sans-serif;
}
